body {
	font-family: "cooline";
	margin: 0 auto;
	height: 100%;
	width: 100%;
	background: url('images/body_background.jpg') no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	padding: 0px;
	overflow-x: hidden;
}

@font-face {
	font-family: "cooline";
	src: url(Fonts/cooline.ttf);

}


.header {
	text-align: center;
	color: white;
	width: 1100px;
	min-height: 250px;
	margin: 0 auto;
}

.content {
	text-align: center;
	background:url(images/Artanis.jpg);
	color: white;
	width: 1100px;
	min-height: 800px;
	margin: 0 auto;
}

.footer {
	text-align: center;
	color: white;
	width: 1100px;
	min-height: 200px;
	margin: 0 auto;
}

ul {
	font-size: 17px;
	list-style-type: none;
	margin: 0 auto;
	width: 1060px;
	min-height: 50px;
	overflow: hidden;
	padding-left: 0;
}

.dropdown-content {
	display: none;
	position: absolute;
	min-width: 80px;
}

.dropdown-content a {
	color: white;
	text-decoration: none;
	display: block;
	background: url('images/body_background.jpg');
}

li {
	float: left;
}

li a, .dropbtn {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 16px 16px;
	text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
	transition: .35s;
	color: #ff4000;
	-ms-transform: scale(1.1); 
  -webkit-transform: scale(1.1); 
  transform: scale(1.1); 
}

li.dropdown {
	display: inline-block;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.right_navbar {
	float: right;
}


.slideshow {
	position: absolute;
	background: url(images/new_hub.png);
	width: 400px;
	height: 340px;
	margin-top: 400px;
	margin-left: 80px;
	transition: transform .35s;
}

.slideshow:hover {
	-ms-transform: scale(1.1); 
  -webkit-transform: scale(1.1); 
  transform: scale(1.1); 
}

.href_links::after {
	clear: both;
	display: table;
	text-align: center;
}

.images_ref {
	transition: transform .35s;
	padding: 5px;
	display:inline-block;
}

.images_ref:hover {
	-ms-transform: scale(1.5); 
  -webkit-transform: scale(1.5);
  transform: scale(1.5); 
}

